.window{
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title, .control, .search{
    display: flex;
    justify-content: start;
    width: 100%;
}
.title{
    font-size: 300%;
}
.control{
    justify-content: end;
}
.search input{
    font-size: 150%;
}
.display{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
}
