.window{
    display: flex;
    flex-direction: column;
}
.title, .control, .search{
    display: flex;
    justify-content: start;
    width: 100%;
}
.title{
    font-size: 300%;
}
.control{
    font-size: 200%;
    border: 1px solid black;
}
.content, .display{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.display{
    border: 1px solid red;
    width: 70%;
    margin-top: 1%;;
}
.display p{
    margin: 0px;
}
.main-info{
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    align-self: flex-end;
}
.extra-info{
    border: 1px solid green;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.extra-left{
    flex: 1;
    border: 1px solid orange;
}
.extra-right{
    flex: 1;
    border: 1px solid purple;
    display: flex;
    flex-direction: col;
    align-items: flex-end;
}
